#Header {
  display: flex;
  background: black;
  justify-content: space-around;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  display: flex;
}

.Header img {
  margin-left: -550px;
}

.Header input {
  width: 646px;
  height: 41px;
  position: absolute;
  font-size: 17px;
  border-radius: 5px;
  margin-left: 100px;
  font-family: normal;
}

.btn {
  border: none;
  margin-left: 400px;
  position: absolute;
  font-size: 30px;
  background: white;
  color: black;
  border-radius: 10px;
}

.buttons {
  margin-left: 500px;
  position: absolute;
  display: flex;
  border-radius: 10px;
  font-size: 30px;
  background: white;
  color: black;
  gap: 5px;
}

button {
  font-family: normal;
}

#Hero {
  display: flex;
  margin-top: 50px;
  overflow-x: scroll;
  margin-left: 100px;
  width: 1200px;
  gap: 20px;
  justify-content: space-evenly;
}

#Hero button {
  padding: 15px 50px;
  background: black;
  color: white;
  border: 2px solid #ff9b04 100% #f3ba63 100%;
  border-radius: 5px;
}

#Hero button :hover {
  border: 2px solid green;
}

.Products input {
  width: 400px;
  height: 40px;
  display: flex;
  font-family: normal;
  flex-direction: column;
  margin-top: 10px;
}

.Products {
  margin-left: 400px;
  margin-top: 200px;
}

.Products button {
  margin-left: 20px;
}


